<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
       <!--get方法-->
       <!--form method="GET" action="/registerAction"-->
       <form method="POST" action="registerAction">
           <p>用户名:  <input id="name" name="username" type="text" class="text"  placeholder="3-15个英文和数字组成"/></p>
           <p>设置密码:  <input id="pwd" name="password" type="text" class="text" placeholder="6-20个英文和数字组成"/></p>
           <p>确认密码:  <input id="pwd_confirm" name="password_confirm" type="text" class="text" placeholder="应与设置的密码一致"/></p>
           <input type="submit" name="register" value="注册"/>
       </form>

</body>
</html>